<div class="search_form mt-4">
    <form method="post">
        <div class="form-group">
            <label for="search_input">Enter keyword</label>
            <input type="text" name="q" class="form-control" id="search_input" placeholder="Enter keyword">
            <select name="gender" id="gender_input" class="mt-3">
                <option value="">--Chọn giới tính--</option>
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>